body {
    background-image: url("../images/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(8px);
}

.opacidad {
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

h2,
span,
img {
    color: #fff;
}

p {
    color: #fff;
    line-height: 1.5;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 50px;
    max-width: 50px;
}

footer a:hover {
    text-decoration: underline;
}